* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: rgb(242, 241, 241);
}
body {
    background-color: #111010;
    height: 300vh;
}

.welcome {
    height: 15vh;
    /* background-color: red; */
    width: 100%;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    
    /* margin-top: 10rem; */
}
.welcome h1 {
    opacity: 1;
    /* transform: translateY(1.5rem); */
    /* animation:fadingOut .7s ease forwards; */
    font-size:2.5rem;
    margin: 0;
    margin-top: 2rem;
}
.welcome p {
    margin-top: 2rem;
    opacity: 1;
    font-size:2rem;
}
main {
    /* border: 5px solid white; */
}
@keyframes fadingOut {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.main1 {
    /* background-color: red; */
}
.image {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
}   
.image p {
    margin-left: 2rem;
    font-size: 2rem;
}
.image img {
    border-radius: .5rem;
}
.main1 h2 {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.8rem;
}

section {
    /* background-color: blue; */
    display: flex;
    width: 100%;
    height: 20vh;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
}
.window{
    height: 100%;
    width: 8%;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    justify-content: center;
    align-items: center;
    border: 1px solid white;

} 

.top {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    /* border-bottom: 1px solid white; */
    padding-bottom: 1rem;
}
h1 {
    text-align: center;
    margin: 3rem;
    font-size: 2rem;
}
.main1 {
    width: 100%;
    opacity: 0;
    transform: translateY(2rem);
    animation: fadingOut .6s linear forwards;
    animation-delay: 1s;
}

@keyframes opa {
    to {
        opacity: 1;
    }
}
.main2 h1:nth-of-type(1) {
    animation:opa .6s linear forwards;
    animation-delay: 2s;
    opacity: 0;
}
.main2 section:first-of-type {
    animation:opa .6s linear forwards;
    animation-delay: 3s;
    opacity: 0;
}

.main2 h1:nth-of-type(2) {
    animation:opa .6s linear forwards;
    animation-delay: 3.5s;
    opacity: 0;
}

.main2 section:nth-of-type(2) {
    animation:opa .6s linear forwards;
    animation-delay: 4s;
    opacity: 0;
}



.genre {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 10rem;
}